body{
    background: #ffffff
}


.profile-img{
        height: 496px;
        width: 422px;
        left: 92px;
        top: 161px;
        border-radius: 0px;
        position: absolute;
}
.h1{
    display: flex;
    justify-content: center;
    margin: 64px 514px;
    padding: 10px;
   
}
.text-box{
  left: 551px;
  top: 161px;
  right: 92px;
  position: absolute;
}
.p1{
    font: roboto;
    line-height: 21.09px;
    size: 18px;
    margin: 80px 0 0 0;
}
.p2{
    font: roboto;
    line-height: 21.09px;
    size: 18px;
}

.h2{
    display: flex;
    justify-content: center;
    margin: 0;


}
.x{
    width: 67.5px;
    height: 4px;
    background-color: orange;
    justify-content: center;
}
#auth-layout{
    display: flex;
    margin: 595px 0;
    justify-content: center;
}
.input-box input{
    color: solid black;
    width: 663px;
    height: 40px;
}
.textarea-section textarea{
    width: 664px;
    height: 291px;
}
.form-section{
    border-style: outset ;
    border-radius: 10px;
    padding: 44px 83px 83px 83px;
    margin: 97px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}